doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/bootstrap/bootstrap.bundle.min.js" defer)
  body
    header.sticky-top.bg-success.py-2
      .container
        nav
          ul.nav
            li.nav-item
              a.nav-link(href="/", class=(path === '/' ? 'activelink' : '')) Shop
            li.nav-item
              a.nav-link(href="/admin/add-product",  class=(path === '/admin/add-product' ? 'activelink' : '')) Add Product
    block content