doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Add Product
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    main.py-4.vh-100.d-flex.align-items-center.justify-content-center
      .container
        .row
          .col-md-5.mx-md-auto
            .d-flex.flex-column.gap-2
              figure
                img.img-fluid(src="/images/not-found/not-found.svg", alt="not-found-thumbnail")
              h1.text-center.text-danger.fw-bold.mb-0 Page Not Found!!!