<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Page Not Found</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
  <script defer src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
  <main class="py-4 vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-md-auto">
          <div class="d-flex flex-column gap-2">
            <figure>
              <img src="/images/not-found/not-found.svg" class="img-fluid" alt="not-found-thumbnail"/>
            </figure>
            <h1 class="text-center text-danger fw-bold">
              Page Not Found!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>