extends layouts/main-layout.pug

block content
  main.py-4
    .container
      .row
        .col-md-5.mx-md-auto
          form.d-flex.flex-column.gap-3(action="/admin/add-product")(method="POST")
            input.form-control(type="text", name="imgsrc", placeholder="Enter product image")
            input.form-control(type="text", name="title", placeholder="Enter product title")
            input.form-control(type="text", name="price", placeholder="Enter product price")
            input.form-control(type="text", name="description", placeholder="Enter product description")
            .d-flex
              button.btn.btn-primary.px-4(type="submit") Add Product