doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Add Product
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/bootstrap/bootstrap.bundle.min.js" defer)
  body
    header.sticky-top.bg-success.py-2
      div.container
        nav
          ul.nav
            li.nav-item
              a.nav-link.text-white(href="/") Shop
            li.nav-item
              a.nav-link.text-white(href="/admin/add-product") Add Product
    
    main.py-4
      div.container
        div.row
          div.col-md-5.mx-md-auto
            form.d-flex.flex-column.gap-3(action="/admin/add-product")(method="POST")
              input.form-control(type="text", name="title", placeholder="Enter product title")
              div.d-flex
                button.btn.btn-primary.px-4(type="submit") Add Product
