extends layouts/main-layout.pug

block content
  main.py-4
    .container
      if prods.length > 0
        .row
          each product in prods
            .col-lg-3.col-md-4.col-sm-6.col-12
              .card.rounded
                img.img-fluid.card-img-top.rounded-top(src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D", alt="product-thumbnail")
                .card-body
                  hgroup
                    h5.card-title #{product.title}
                    h6 #{product.price}
                  p.card-text.text-truncate #{product.description}
                  button.btn.btn-outline-primary.w-100.rounded-pill Add to Cart
      else
        .row
          .col-lg-3.col-md-5.mx-md-auto.col-12
            .d-flex.flex-column.gap-2.text-center.pt-5
              figure.emptythumb
                img.img-fluid(src="/images/no-data.svg", alt="empty-product-thumb")
              h5.card-title No Products!
            