.form-control:focus {
  box-shadow: none;
  outline: none;
}

.emptythumb {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  overflow: hidden;
}

header .nav-link {
  color: white;
}

header .nav-link:hover:not(.activelink) {
  color: cyan;
}

header .nav-link.activelink {
  color: cyan;
}