.form-control:focus {
  box-shadow: none;
  outline: none;
}

/* h1, h2, h3, h4, h5, h6, p {
  margin: 0;
} */

.emptythumb {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  overflow: hidden;
}